body{
  background: linear-gradient(to right,lightblue,blue,lightblue);
  
}
*{
margin:0;
padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#F5F5F5;
  margin-top: 0%;
  border-radius: 0%;
  padding:5px;
  height: 100px;
  width :100%;
}

.nav-items {
  display: flex;
  flex: 2;
  justify-content: end;
  list-style-type: none;
  margin-right: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-items li {
  flex-direction: row;
  margin: 0 30px 0 30px;
}

.nav-items a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color:#01579B;
  font-weight: bolder;
}

.nav-items a:hover {
  text-decoration: underline;
  color:#403234;
}

.nav-items a:active {
  color: rgba(54, 54, 54, 0.5);
}
.logo{
  background-attachment: fixed;
  
}

/*LOGIN PAGE CSS*/
.container {
  
  position: absolute;
  right: 0;
  margin-top: 67px;
  margin-right: 330px;
  max-width: 300px;
  padding: 30px;
  background-color:#F5F5F5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
}

/* Full-width input fields */
input[type="date"],
input[type="date"] {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  margin: 5px 0 22px 0;
  border: none;
  background: #C7D0D5;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color:#687477;
  outline: none;
  border-radius: 20px;
}

/* Set a style for the submit button */
.btn {
  font-weight: bold;
  font-size: larger;
  background-color: #E2C2B3 ;
  color:#403234;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
/*FACULTY LOGIN PAGE*/
.container1 {
  
  position: absolute;
  left: 0;
  margin-top: 50px;
  margin-left: 280px;
  max-width: 300px;
  padding: 30px;
  background-color:#F5F5F5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
} 
 /* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #C7D0D5;
  border-radius: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color:#687477;
  outline: none;
  border-radius: 20px;
}

/* Set a style for the submit button */
.btn {
  font-weight: bold;
  font-size: larger;
  background-color: #01579B;
  border-radius: 50px;
  color: #F5F5F5;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
  margin-left: 25px;
}

.btn:hover {
  opacity: 1;
}

h1{
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;

}
/*Footer CSS*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap);
* {
  font-family: 'Nunito Sans', sans-serif;
}

.footer-distributed{
background:#ffffff;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
font: bold 16px sans-serif;
text-align: left;
padding: 50px 60px 40px;
overflow: hidden;
}

section {
width: 100%;
display: inline-block;

height: 60vh;
text-align: center;
font-size: 22px;
font-weight: 700;
text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
float: left;
}

/* The company logo */

.footer-distributed h3{
color:  black;
font: normal 36px 'Roboto', cursive;
margin: 0 0 10px;
}

.footer-distributed h3 span{
color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
color:  #ffffff;
margin: 0 0 10px;
padding: 0;
}

.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
}

.footer-distributed .footer-company-name{
color:  #8f9296;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
margin-top: 40px;
}

.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color: #F5F5F5;
border-radius: 2px;

font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
float: right;
}

.footer-distributed .footer-right p{
display: inline-block;
vertical-align: top;
margin: 15px 42px 0 0;
color: black;
}

/* The contact form */

.footer-distributed form{
display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
display: block;
border-radius: 3px;
box-sizing: border-box;
background-color:  #C7D0D5;
box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
border: none;
resize: none;

font: inherit;
font-size: 14px;
font-weight: normal;


width: 400px;
padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
color:  #5c666b;
opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
color:  #5c666b;
}


.footer-distributed form input{
height: 55px;
margin-bottom: 15px;
}

.footer-distributed form textarea{
height: 100px;
margin-bottom: 20px;
}

.footer-distributed form button{
border-radius: 3px;
background-color:  #33383b;
color: white;
border: 0;
padding: 15px 50px;
font-weight: bold;
float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

.footer-distributed {
  font: bold 14px sans-serif;
}

.footer-distributed .footer-company-name{
  font-size: 12px;
}

.footer-distributed form input,
.footer-distributed form textarea{
  width: 250px;
}

.footer-distributed form button{
  padding: 10px 35px;
}

}

@media (max-width: 800px) {

.footer-distributed{
  padding: 30px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right{
  float: none;
  max-width: 300px;
  margin: 0 auto;
}

.footer-distributed .footer-left{
  margin-bottom: 40px;
}

.footer-distributed form{
  margin-top: 30px;
}

.footer-distributed form{
  display: block;
}

.footer-distributed form button{
  float: none;
}
}
