  body{
      background: linear-gradient(to right, lightgreen,skyblue);
      min-height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      color:#fff;
    }

    .form{
      color: black;
      font-family: Arial, Helvetica, sans-serif;
    }
  
  select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
  }
  
  select:focus{
    outline:none;
  }

  .btn {
    font-weight: bold;
    font-size: larger;
    background-color: #01579B;
    border-radius: 25px;
    color: #F5F5F5;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    margin-left: 150px;
  }
   fieldset{
    background-color: grey;
    background: transparent;
    padding: 25px 40px;
    padding-right: 150px;
    backdrop-filter: blur 100px;
    border: 3px Solid black;
   }