<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body class="active">
    <div class="wrapper">
        <div class="sidebar">
            <div class="profile">
                <img src="arun.webp" alt="pro">
                <h3>Arun Kumar S</h3>
                <p>BE CSE III Year</p>
            </div>
            <ul>
                <li><a href="#">
                    <span class="icon"><i class='bx bx-desktop' ></i></span>
                    <span class="item">My Dashboard</span>
                </a></li>
                <li><a href="#">
                    <span class="icon"><i class='bx bxs-phone-call'></i></span>
                    <span class="item">63817 65982</span>
                </a></li>
                <li><a href="#">
                    <span class="icon"><i class='bx bx-envelope'></i></span>
                    <span class="item">arunak@gmail.com</span>
                </a></li>
                <li><a href="#">
                    <span class="icon"><i class='bx bx-cog'></i></span>
                    <span class="item">Settings</span>
                </a></li>
                <li><a href="#"></a>
                    <button action="" type="button" class="btn1"><i class='bx bx-edit'></i>Edit</button>
                </a></li>
            </ul>
        </div>

        <div class="section">
            <div class="top_navbar">
                <div class="hamburger">
                    <a href="#"><i class='bx bxs-user-circle'></i></a>
                </div>
                <div class="logo">
                    <a href="#" class="header">Selection</a>
                </div>
                <div class="hamburger1">
                    <a href="home.html"><i class='bx bx-log-out'></i></a>
                </div>
                <div class="logo1">
                    <a href="home.html" class="header">Logout</a>
                </div>
            </div>
            <div class="bottom">
                <h1>Welcome Arun Kumar S!!</h1>
                <h2>Choose any one option:</h2>
                <div class="form">
                   <fieldset>
                        <button action="" type="button" class="btn2">Check Internal Marks</button>
                        <button action="" type="button" class="btn3">Check Attendance</button>
                    <!--     <legend class="legend"> Choose one option </legend>

                        <label for="Department">Department:</label>
                        <br>
                        <br>
                        <select name="Department" id="Department">
                        <option value="Computer Science and Engineering">Computer Science and Engineering</option>
                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                        <option value="Electronics and Communication Engineering ">Electronics and Communication Engineering </option>
                        <option value="Geo-Informatics" selected>Geo-Informatics</option>
                        </select>
                
                        <br>
                        <br>
                
                        <label for="Year">Year:</label>
                        <br>
                        <br>    
                        <select name="Year" id="Year">
                        <option value="FIRST">FIRST</option>
                        <option value="SECOND">SECOND</option>
                        <option value="THIRD">THIRD</option>
                        <option value="FOURTH" selected>FOURTH</option>
                        </select>
                        <br>
                        <br>    
                
                        <label for="Subject">Subject:</label>
                        <br>
                        <br>
                        <select name="Subject" id="Subject">
                        <option value="OOPS">OOPS</option>
                        <option value="Complier Design">Compiler Design</option>
                        <option value="Artificial Intelligence">Artificial Intelligence</option>
                        <option value="Cloud Computing" selected>Cloud Computing</option>
                        </select>
                        <br>
                        <br>
                        <button action="" type="submit" class="btn">Submit</button>-->
                    </fieldset>
                
                </div>
            </div> 
             
        </div>
    </div>
    
    <script>
        var hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    })
    </script>
</body>
</html>