*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
        background: rgba(231, 222, 222, 0.877);
        color:#fff;
}

.wrapper .sidebar{
    background: grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid rgb(241, 237, 237);
}

.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
    margin-bottom: 30px;
}


.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    /*border-bottom: 1px solid rgb(241, 237, 237);*/
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
    transform: scale(1.5);
}

.wrapper .section{
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
    background: linear-gradient(to right, rgb(104, 103, 103),rgb(128, 126, 126),whitesmoke,whitesmoke,white);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
    font-size: 33px;
    color: #f4fbff;
    
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: #a2ecff;
}

body.active .wrapper .sidebar{
    left: -270px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
}

/*new*/

.form{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

select{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}

.btn {
  font-weight: bold;
  font-size: larger;
  background-color: #01579B;
  border-radius: 25px;
  color: #F5F5F5;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin-left: 150px;
}
 fieldset{
  background-color: grey;
  background: transparent;
  padding: 25px 40px;
  padding-right: 150px;
  backdrop-filter: blur 100px;
  border: 3px Solid black;
  max-width: 400px;
  margin-left: 400px;
  margin-top: 10px;
 
 }

 .wrapper .section .top_navbar .logo a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: solid;
    color: white;
    padding-left: 30px;
    padding-right: 50px;
 }

 .wrapper .section .top_navbar .hamburger1 a{
    font-size: 33px;
    color:rgb(104, 103, 103);
    margin-left: 900px;
}

.wrapper .section .top_navbar .hamburger1 a:hover{
    color: #a2ecff;
}

.wrapper .section .top_navbar .logo1 a:hover{
    color: #a2ecff;
}


.wrapper .section .top_navbar .logo1 a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: solid;
    color:rgb(104, 103, 103);
    padding-left: 30px;
    
 }

 .btn1 {
    font-size: larger;
    background-color: #01579B;
    border-radius: 5px;
    color: #F5F5F5;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    margin-left: 75px;
    text-align: center;
    margin-bottom: 30px;
  }

  .wrapper .sidebar ul {
    border-bottom: 2px solid rgb(241, 237, 237);
  }

  .wrapper .section .bottom h1{
    color: black;
    margin-left: 400px;
    margin-top: 50px;
  }

  .btn2 {
    background-color: #01579B;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    font-size: larger;
    width: 300px;
    color: #F5F5F5;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    margin-left: 75px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0 0 15px rgba(8, 7, 16, 0.6);

  }

  .btn3{
    background-color: #01579B;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    font-size: larger;
    width: 300px;
    color: #F5F5F5;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    margin-left: 75px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(8, 7, 16, 0.6);
  }

.section .bottom h2{
    color: rgb(104, 103, 103);
    margin-left: 400px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 200;
}

.btn1:hover{
    color: #52d0f0;
    border: 2px solid black;
}

.btn2:hover{
    color: #52d0f0;
    border: 2px solid black;
}

.btn3:hover{
    color: #52d0f0;
    border: 2px solid black;
}